:root {
    --primary-color: #013F38;
    --secondary-color: #027267;
    --accent-color: #00766A;
    --background-color: #3DBDA7;
    --text-color: #3D6975;
    --border-color: #044D46;
    --shadow-color: #2C8C87;
    --my-gradient: linear-gradient(60deg, rgba(1,63,56,1) 0%, rgba(2,114,103,1) 16%, rgba(0,118,106,1) 25%, rgba(61,189,167,1) 40%, rgba(4,77,70,1) 73%);
    --si-bar: linear-gradient(212deg, rgba(61,105,117,1) 67%, rgba(91,140,153,1) 78%, rgba(61,105,117,1) 89%);    
    --win-lose-lcl: linear-gradient(212deg, rgba(61,105,117,1) 67%, rgba(91,140,153,1) 78%, rgba(61,105,117,1) 89%);    

    /*vars for fonts and text*/
    --font-family-primary: 'Poppins', sans-serif;
    --font-size-base-big: 3vw;
    --font-size-base-large: 2.5vw;
    --font-size-base-small: 1vw;
    --font-size-base-medium: 1.5vw;
    /* clamp(1.4em , 12vw, 1.5em) */
    --font-weight-semibold: 600;
    --line-height-base: 21px;
    --text-align-default: left;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    /* width: 100%; */
    height: 100vh;
    letter-spacing: 3px;
    word-spacing: 2px;
    /* background-color: var(--primary-color); */
  }

  /** Mother Div and its childs should be handled here - boxing - sizes ... **/

  .motherDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  /* side bar **/

  .sideBar {
    width: 20%;
    height: 100%;
    background: rgb(61,105,117);
    background: var(--si-bar); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1% solid var(--shadow-color);
    position: relative;
  }

  .flex-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .flex-container .logo {
    flex: 1 1 auto;
    
    /* background-color: red; */
    max-width: 80%;
    max-height: 80%;
    height: auto;
    cursor: pointer;
    transition: max-width 0.3s ease-in-out,
                max-height 0.3s ease-in-out,
                border 0.5s ease-in-out;
    
}
.logo:hover{
    max-width: 100%;
    max-height: 100%;
    /* border: 5px solid black; */
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


  .menu {
    width: auto;
    height: 70%;
    /* padding: 0 20% 0 20%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-items: center; */
    justify-content: space-around;
  }
  
  .menu li {
    /* width: 90%; */
    height: auto;
    display: flex;
    list-style: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base-medium);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-base);
    text-align: var(--text-align-default);
    color: rgb(235, 235, 235);
    cursor: pointer;
    align-items: center;
    /* position: relative; */
}

.sideBar ul li p {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    margin-left: 10px;
}
.logout {
    margin-top: 200px;
}
.sideBar ul li i {
    position: relative;
    font-size: var(--font-size-base-medium);
    transition: color 0.5s ease;
    /* background-color: red; */
}

/* top Side bar */



/* Main div content */
.all {
    width: 100%;
    height: 100%;
    background: rgb(1,63,56);
    background: var(--my-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-left: 1% solid rgba(61,105,117,1);
}
.dynamic {
    width: 100%;
    height: 90%;
    /* background: rgb(1,63,56); */
    /* background: var(--my-gradient); */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* border-left: 2.5px solid rgba(61,105,117,1); */
    /* padding-left: 100%; */
}

.fakeDiv1, .fakeDiv2, .fakeDiv3{
    width: 85%;
    height: 100%;
    /* margin-top: 0%; */
    margin-top: 120%;
    opacity: 0;
    /* opacity: 1; */
    position: absolute;
    background-color: red;
    transition: margin-top 1.5s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.fakeDiv1{background-color: black;} .fakeDiv2{background-color: greenyellow;} .fakeDiv3{background-color: grey;}



.topSide {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 3% 3% 0 3%; */
    /* background-color: green; */
}

.topSide .helloTitle {
    width: 30%;
    /* height: 10%; */
    /* text-align: center; */
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base-large);
    color: rgb(31, 53, 59);
    /* letter-spacing: 15px; */
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    text-shadow: 0px 4px 10px rgba(61,105,117,1);
}
.topSide .spanHolder {
    /* margin-left: 5%; */
    letter-spacing: 5px;
    display: flex;
}

.profIcones {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.topSide .profilePic {
    width: 25%;
    /* height: auto; */
    border-radius: 50%;
    background-color: #00766A;
    margin-right: 5%;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.profilePic img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profIcones .bi-bell .note{
    /* width: 10px;
    height: 10px; */
    /* background-color: greenyellow; */
    /* color: black;
    border-radius: 50%;
    position: absolute; */
}

.profIcones i {
    font-size: var(--font-size-base-small);
    cursor: pointer;
    color: white;
}


/* ANIMATION HELLO REDA */

@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    50% {
      opacity: 1;
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .bounce {
    animation: bounceIn 1.5s ease-in-out; /* Duration and easing for smooth bounce */
    /* opacity: 0; Start hidden */
    animation-fill-mode: forwards; /* Ensure element stays visible after animation */
  }














/*  END OF ANIMATION **/



/* Hover effects */

.sideBar ul li p::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3.5px;
    background-color: var(--background-color);
    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.sideBar ul li:hover p::before {
    left: 0;
    right: auto;
    width: 100%;
}

.sideBar ul li:hover i {
    font-weight: bold;
    color: var(--primary-color);
}

/* Apply styles to the selected li */
.sideBar ul li.selected p::before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    width: 100%; /* Keep underline for selected item */
    bottom: 0;
    height: 3.5px;
    background-color: var(--background-color);
    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Apply styles to i inside the selected li */
.sideBar ul li.selected i {
    font-weight: bold;
    color: var(--background-color);
}